.header {
  font-family: "Ubuntu", sans-serif;
  padding: 20px;
  padding-bottom: 32px;
  background-color: #ff0055;
  color: white;
  margin-bottom: 34px;
}

.header-tag {
  top: 10px;
  left: 30px;
  position: fixed;
  color: white;
  font-family: "Merriweather", serif;
}

.roleHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: -420px;
  margin-right: 20px;
}

.footer {
  font-size: 13px;
  font-family: "Merriweather", serif;
  margin-top: 120px;
  text-align: center;
  left: 454px;
  color: #333333;
}

.mainNav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #ebebeb;
  width: 100%;
  padding: 10px;
  margin: 0px;
}

li {
  margin: 10px;
  padding: 10px;
  color: #0077ff !important;
  font-weight: bold;
}
